.weather {
  width: 100%;
  display: inline-flex;
}

.Container {
  /* width: 100%; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 30vh;
  min-width: 5vw;
  margin: 0.5rem;
  border-radius: 50px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: darken(#eff3f9, 20%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  max-width: 550px;
  max-height: 300px;
  background-color: rgb(172, 246, 246);
}

.city {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  z-index: 10;
}

.temperature {
  font-size: 2.5vw;
  z-index: 10;
  box-shadow: 0 2px 5px 5px rgb(221, 220, 219);
  border-radius: 2rem;
  margin: 1rem;
  width: 200px;
  /* margin-left: 10rem; */
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
}

.description {
  z-index: 10;
  display: inline-flex;
}

.weatherCondition {
  z-index: 10;
  font-size: 1vw;
  min-width: none;
}

p {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  max-height: 30vh;
  z-index: 10;
}

p > img {
  width: 20%;
  height: auto;
  box-shadow: 0 2px 5px 5px #cccccc;
  border-radius: 0.6rem;
  justify-content: space-around;
  background-color: white;
  z-index: 10;
}

.SC {
  display: inline-block;
  gap: 8px;
  max-width: 800px;
  z-index: 10;
  font-size: 1vw;
}

select {
  border-radius: 100px;
  background: white;
  min-width: 10%;
  max-width: 60%;
}

.wave {
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background: white;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: -1;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  z-index: -2;
  opacity: 0.2;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  z-index: -3;
}

.Container:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10 !important;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.Display {
  align-items: center;
  justify-content: center;
}
