@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display+SC:ital,wght@1,700&display=swap");

* {
  font-family: "Monserrat", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #f06966, #fad6a6);
}

.Main-container {
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 0.5rem;
  background-color: #007ced;
  background: linear-gradient(to bottom, #f06966, #fad6a6);
}

.Logo {
  height: 20vmin;
  pointer-events: none;
}

.Title {
  font-family: "Playfair Display SC", serif;
  font-size: 50px;
  font-weight: 900;
  color: black;
  max-width: 30rem;
  animation: showup 7s;
  animation-iteration-count: 1;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Weather-col {
  /* color: black; */
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  padding: 0 10px;
  /* height: 30vh; */
  min-height: 100px;
  overflow: hidden;
  font-size: large;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}

@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

.Main-header {
  font-size: 8vh;
  text-align: center;
  font-weight: bold;
  margin-left: 30px;
  text-shadow: 3px 3px #d1d1d1;
  width: 40%;
  height: auto;
  position: relative;
  animation: mymove 3s;
  animation-timing-function: ease-out;
}

@keyframes mymove {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.App-link {
  color: #516469;
}

.Weather {
  margin-left: auto;
  margin-right: 5px;
}

.Categories {
  background-color: #ffffff;
  min-height: fit-content;
  padding: 5px 0 30px;
  width: 100%;
}

.animate {
  display: inline-block;
  align-items: center;
  width: 35vh;
  padding: 10px;
  background-color: #fad6a6;
  border-radius: 0.5rem;
}

.Recommendation {
  background-color: #ffffff;
  min-height: fit-content;
  padding: 5px 0 30px;
}

#box-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

#box-button {
  align-items: center;
  padding-top: 25px;
  height: 21rem;
  width: 21rem;
  margin: 8px;
  box-shadow: 0 2px 10px 1px #f06966;
  border-radius: 0.5rem;
  border: transparent;
  background: linear-gradient(45deg, #f06966, #ffcac9);
  transition-property: transform;
  transition-duration: 0.5s;
}

#box-button > p {
  font-size: 30px;
  color: #ffffff;
}

.Slider {
  font-family: "Monserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%-20px);
}

.scale {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.info {
  background: rgba(138, 43, 43, 0.9);
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.8;
  text-align: left;
  font-size: 105%;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.info h2 {
  text-align: center;
}
.scale:hover .info {
  transform: translateX(0);
}

.info ul li {
  transition: 0.3s ease;
}
.info ul li:hover {
  transform: translateX(50px) scale(1.3);
}

.scale:hover img {
  transition: all 0.3s ease-out;
}
.scale:hover img {
  transform: scale(1.2, 1.2);
}

/* Mobile Devices ----------- */
@media screen and (min-width: 320px) and (max-width: 720px) {
  .Logo {
    min-height: 35vmin;
    pointer-events: none;
  }
  #box-container {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
  #box-button {
    width: 15rem;
    height: 15rem;
    font-size: 1rem;
  }

  #box-button > p {
    font-size: 27px;
  }

  .Weather-col {
    display: flex;
    flex-direction: column;
  }
}
/* Dropdown */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropmenu {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Link inside dropdown */
.dropmenu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropmenu li:hover {
  background-color: rgb(151, 151, 151);
  color: white;
}

.dropdown:hover .dropmenu {
  display: block;
}
